.gallery .control-button {
  color: #ccc;
  color: rgba(0, 0, 0, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(0, 0, 0, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  height: 95px;
  margin-top: 5px;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.gallery .controls {
  position: absolute;
  bottom: -5px;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0.02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
